* { box-sizing: border-box; }

html, body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    &.dev {
        background: linear-gradient(180deg,rgba(0,0,0,.84),rgba(0,0,0,.84)),url("images/background.jpg");
    }
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
        max-height: 70px;
        margin-top: 35px;
    }
    &__subtext {
        display: flex;
        text-align: center;
        letter-spacing: 3px;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 2px;
    }
}

.battles {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    padding: 25px;
    flex-wrap: wrap;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.empty {
    margin-top: 30px;
    font-size: 4vw;
    font-weight: 200;
}

.battle {
    @media screen and (max-width: 900px) {
        width: 100%;
        margin: 10px 0;
    }
    position: relative;
    width: calc(50% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    padding: 0 5px 10px 5px;
    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-position: center;
        background-size: cover;
        background-image: var(--bg);
        z-index: -1;
        border-bottom: 4px solid rgba(0, 0, 0, 0.3);
        &:before {
            position: absolute;
            width: calc(100% - 2px);
            height: 100%;
            top: 1px;
            left: 1px;
            content: "";
            z-index: -1;
            background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.0) 100%);
        }
    }
    &__top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1px;
        padding: 4px 7px;
    }
    &__title{
        text-align: left;
    }
    &__map{
        flex-grow: 1;
        text-align: center;
        padding: 0 10px;
    }
    &__lock{
        display: flex;
        align-items: center;
        padding-right: 5px;
        img {
            max-height: 16px;
        }
    }
    &__player-count{
        display: flex;
        align-items: center;
        margin-right: 8px;
        img {
            margin-left: 3px;
            max-height: 18px;
        }
    }
    &__spectator-count{
        display: flex;
        align-items: center;
        img {
            margin-left: 3px;
            max-height: 18px;
        }
    }
    &__max-players{
        margin-left: 5px;
    }
    &__players{
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px;
        justify-content: center;
        align-items: center;
    }
    &__player{
        background: rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        margin: 2px;
        padding: 2px 6px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 3px;
        & > div {
            margin: 0 2px;
        }
    }
    &__flag{

    }
    &__ingame{
        display: flex;
        img {
            max-height: 16px;
        }
    }
    &__username{
        font-size: 13px;
    }
    &__rank{
        display: flex;
        img {
            max-height: 16px;
        }
    }
}
